#container {
  width: 1050px;
/*border: 1px solid grey; */
  margin: 0px auto;
}

#header {
  height: 100px;
}

#brand {
  float: left;
}

h1 a {
  font-size: 50px;
  font-weight: 100px;
  color: #861bbf;
  text-decoration: none;
}

#searchbox {
  float: right;
}

#menu {
  height: 70px;
  background: linear-gradient(#f8f594, #d5d533);
  padding: 7px 0px;
}

ul {
  list-style: none;
}

#menu ul li {
  float: left;
  padding: 0px 30px;
  height: 30px;
  border-right: 1px solid #5d12e7;
}

#menu ul li:last-child {
  border-right: none;
}

#menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  color: #5d12e7;
  line-height: 30px;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

#menu ul li a:hover {
  font-size: 20px;
  font-weight: bold;
  color: #b314db;
}

#menu ul li a.active {
  font-size: 20px;
  font-weight: bold;
  color: #b314db;
}

#introduction {
  background: linear-gradient(#e5f2bb, #b7e952 );
  padding: 30px;
  margin: 16px 0px;
}

#introduction h3 {
  font-size: 45px;
  color: #316901;
  font-weight: normal;
}

#introduction p {
  font-size: 25px;
  color: #628f19;
  text-align: justify;
}
